#home,#courses,#addmitions,#login{
    text-decoration: solid;
    padding: 9px;
}
section .container h1{
font-size: 12vmin;
font-weight: bold;
}

section .container .mae{
    text-align: center;
}

footer .container .berow{
    float: right;
}


