section{
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;
    background-color: #EF5D58;
    font-family: Roboto (Regular,Medium,Bold,Italic,Bold Italic, Black, Black Italic);
}

.global-container{
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #517174;
}

.login-form{
    width:400px;
    height: 600px;
    margin: 20px;
    border-radius: 10px !important;
}

form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

label{
    font-size: medium;
    font-weight: 500;
    float: left;
    margin-bottom: 10px;
}

input[type="email"],
input[type="text"],
input[type="password"]{
     border: 2px solid #517174;
     border-radius: 10px;
     margin-bottom:15px;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus{
    outline: none;
    border: none;
    margin: 0;
}

.card-title{
    font-weight: 900;
    padding-top: 20px;
}

btn{
    font-weight: 400;
    font-size: 20px;
    transform: translateY(10px);
    border-radius: 10px !important;
}

.signup{
    text-align: center;
    padding-top: 25px;
}

